{% extends 'webside/base.html' %}

{% block content %}
  <h4 class="center" style="color:#336699; font-variant: small-caps;">Legg til nytt område</h4>
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s6 offset-s3 valign">
        <div class="card-content white-text">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}

                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button class="waves-effect waves-light btn" type="submit">Legg til område</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
