{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Shareboi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <!-- Leaflet stylesheet -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="grey lighten-5">
      <nav>
        <div class="nav-wrapper blue">
            <a href="/" class="brand-logo center">ShareBoi</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
             {% block authenticate %}
             {% if user.is_superuser %}
               <li><a href="/admin">Admin panel</a></li>
             {% endif %}
             {% if user.is_authenticated %}
                 <li>Hei {{ user.username }}!</li>
                 <li><a href="{% url 'logout' %}"class="waves-effect waves-light btn-small" style="top:15px">Logg ut</a></li>
             {% else %}
                 <li><a href="{% url 'login' %}" class="waves-effect waves-light btn-small" style="top:15px">Logg inn</a></li>
                 <li><a href="{% url 'signup' %}" class="waves-effect waves-light btn-small" style="top:15px">Ny bruker?</a></li>
             {% endif %}
             {% endblock %}
           </ul>
          </div>
        </nav>

        <ul id="slide-out" class="sidenav">
          <li><a class="waves-effect" href="/requests"><i class="material-icons">chat</i>Etterspørsler</a></li>
          <li><a class="waves-effect" href="/loans"><i class="material-icons">cloud</i>Utlån</a></li>
          <li><a class="waves-effect" href="/showmap"><i class="material-icons">map</i>Se kart</a></li>
          {% if user.is_superuser %}
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="/add_community"><i class="material-icons">add_location</i>Legg til område</a></li>
            <li><a class="waves-effect" href="/communitylist"><i class="material-icons">list</i>Liste av områder</a></li>
          {% endif %}
        </ul>

        {% if user.is_authenticated %}
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="medium material-icons">menu</i></a>
        {% endif %}
        <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
    <script>
    (function($){
      $(function(){
    // Plugin initialization
      $('select').not('.disabled').formSelect();
      });
      })(jQuery); // end of jQuery name space
    </script>
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
      </script>
      <script>
      $(document).ready(function(){
        $('.collapsible').collapsible();
      });
      </script>
      <script>
      $(document).ready(function(){
        $('.modal').modal();
      });
      </script>
      <script>
      let star;
      function give1Star() {
        document.getElementById("demo").innerHTML = "Du har valgt 1 stjerne";
        star = 1;
      }
      </script>
      <script>
      function give2Star() {
        document.getElementById("demo").innerHTML = "Du har valgt 2 stjerner";
        star = 2;
      }
      </script>
      <script>
      function give3Star() {
        document.getElementById("demo").innerHTML = "Du har valgt 3 stjerner";
        star = 3;
      }
      </script>
      <script>
      function give4Star() {
        document.getElementById("demo").innerHTML = "Du har valgt 4 stjerner";
        star = 4;
      }
      </script>
      <script>
      function give5Star() {
        document.getElementById("demo").innerHTML = "Du har valgt 5 stjerner!";
        star = 5;
      }
      </script>
  </body>
</html>
