{% extends 'webside/base.html' %}
{% load static %}
{% block content %}
    <body>
        <h4 class="center" style="color:#336699; font-variant: small-caps;">Velkommen til Shareboi</h4>
        <br>
        <div class='center'>
          <div class="row">
            <div class="col s6">
              <img src="{% static "media/sharing.jpg" %}"  class="z-depth-4" alt="Sharing"
          style=max-width:350px; max-height:350px; "/>
            </div>
          <div class="col s6">
            <ul class="collapsible popout">
              <li>
                <div class="collapsible-header"><i class="material-icons">chat</i>Etterspør det du mangler</div>
                <div class="collapsible-body"><span>Har du dårlig ånde før du skal møte en søt studiepartner? Eller, kanskje du har hodeverk rett før en forelesning i
                  fluidmekanikk? Her kan du etterspørre det du trenger!</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">cloud</i>Legg ut ting</div>
                <div class="collapsible-body"><span>Har du ting som kan hjelpe andre i en travel hverdag? Legg det ut her!</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">map</i>Se hvor du kan møte andre</div>
                <div class="collapsible-body"><span>Se et kart som viser hvor du kan møte andre for å få det du er ute etter. Slik kan man velge den som er nærmest!</span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </body>
{% endblock %}
