{% extends 'webside/base.html' %}
{% load static %}
{% block content %}
    <body>
        <h4 class="flow-text" style="color:#336699; font-variant: small-caps;">Velkommen til Shareboi</h4>
        <br>
        <ul>
        {% if user.is_authenticated %}
          <div class="col">
          <div class="row s3">
            <li><a class="waves-effect waves-light btn" href="/requests">Etterspør noe!</a></li>
          </div>
          <div class="row s3">
            <li><a class="waves-effect waves-light btn" href="/loans">Legg til utlån!</a></li>
          </div>
        {% endif %}
          <div class="row s3">
            <li><a class="waves-effect waves-light btn" href="/add_community">Legg til nytt område!</a></li>
          </div>
          <div class="row s3">
            <li><a class="waves-effect waves-light btn" href="/communitylist">Se registrerte områder!</a></li>
          </div>
          </div>
          </ul>
          <img src="{% static "media/sharing.jpg" %}"  class="z-depth-4" alt="Sharing"
          style="float:right; max-width:350px; max-height:350px; "/>
    </body>
{% endblock %}
