{% extends 'webside/base.html' %}

{% block content %}
<a class="btn btn-default" href="{% url 'loans' %}" style="margin-left:-100px;"><i class="large material-icons">navigate_before</i>
</a>
<div class="card" style="max-width: 800px; margin:auto">
    <div class="center-align">
      <div class="card grey lighten-4">
        <div class="card-content teal-text">
          <div class="loan">
              <h2>{{loan.title}}</h2>
              <p>{{ loan.text|linebreaksbr }}</p>
              <div class="black-text">
              <p>{{ loan.community }}</p>
              </div>
              <a class="modal-trigger" style="margin:auto" href="#modal1"><p>{{ loan.author }}</p></a>

              <!-- Modal Structure -->
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4>{{ loan.author }}</h4>
                  <p>Rating: 4</p>
                  <p>Karma: gitt 14, fått 12</p>
                  <p>Sum: 86</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-red btn-flat">Lukk</a>
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Raporter</a>
                </div>
              </div>
              {% if loan.published_date %}
                <div class="date black-text">
                  {{ loan.published_date }}
                </div>
                {% endif %}
         </div>
       </div>
     </div>
   </div>
 </div>
    <div class="center-align">
        <a class="btn btn-default" style="margin:auto" href="{% url 'add_comment_to_loan' pk=loan.pk %}">Legg igjen en kommentar</a>
            <br><br>
            {% for comment in loan.comments2.all %}
            <div class="divider"></div>
                <div class="section">
                    <div class="comment">
                            <a class="modal-trigger" style="margin:auto" href="#modal2"><strong>{{ comment.author }}</strong></a>
                            <!-- Modal Structure -->
                            <div id="modal2" class="modal">
                              <div class="modal-content">
                                <h4>{{ comment.author }}</h4>
                                <p>Rating: 4</p>
                                <p>Karma: gitt 7, fått 12</p>
                                <p>Sum: 16</p>
                              </div>
                              <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-red btn-flat">Lukk</a>
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Raporter</a>
                              </div>
                            </div>
                            <p>{{ comment.text|linebreaks }}</p>
                            <div class="date">{{ comment.created_date }}</div>
                    </div>
                    {% empty %}
                    <p>Ingen kommentarer enda :(</p>
                    {% endfor %}
                </div>
    </div>
    <div>

        {% ifequal value|stringformat:"loan.author" value|stringformat:"user.username" %}
<a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'loan_delete' pk=loan.pk %}" style="position:fixed; left:90%; top:90%;"><i class="material-icons"</i>delete</a>
        {% endifequal %}
    </div>

{% endblock %}
