{% extends 'webside/base.html' %}

{% block content %}
<a class="btn btn-default" href="{% url 'loans' %}" style="margin-left:-100px;"><i class="large material-icons">navigate_before</i>
</a>
<div class="card" style="max-width: 800px; margin:auto">
    <div class="center-align">
      <div class="card grey lighten-4">
        <div class="card-content teal-text">
          <div class="loan">
              <h2>{{loan.title}}</h2>
              <p>{{ loan.text|linebreaksbr }}</p>
              <div class="black-text">
              <p>{{ loan.community }}</p>
              </div>
              <p>{{ loan.author }}</p>
              {% if loan.published_date %}
                <div class="date black-text">
                  {{ loan.published_date }}
                </div>
                {% endif %}
         </div>
       </div>
     </div>
   </div>
 </div>
    <div class="center-align">
        <a class="btn btn-default" style="margin:auto" href="{% url 'add_comment_to_loan' pk=loan.pk %}">Legg igjen en kommentar</a>
            <br><br>
            {% for comment in loan.comments2.all %}
            <div class="divider"></div>
                <div class="section">
                    <div class="comment">
                            <strong>{{ comment.author }}</strong>
                            <p>{{ comment.text|linebreaks }}</p>
                            <div class="date">{{ comment.created_date }}</div>
                    </div>
                    {% empty %}
                    <p>Ingen kommentarer enda :(</p>
                    {% endfor %}
                </div>
    </div>
    <div>

        {% if loan.author.username == user.username %}
<a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'loan_delete' pk=loan.pk %}" style="position:fixed; left:90%; top:90%;"><i class="material-icons"</i>delete</a>
        {% endif %}
    </div>

{% endblock %}
