{% extends 'webside/base.html' %}
{% load static %}
{% block content %}
<h4 class="center" style="color:#336699; font-variant: small-caps;">Min profil</h4>
<div class='center'>
    <div class="row">
      <div class="col s6">
      <div class="media">
        <h2 class="account-heading" style="margin-top:10px">{{ user.username }}</h2>
        <img class="z-depth-4" src="{{ user.profile.image.url }}"
        style="max-width:450px; max-height:250px; margin-top:10px;"/>
        </div>
        </div>
          <div class="col s6">
        <div class="media-body">

          <div class="card" style="max-width: 450px; margin:left">
                    <div class="left-align">
                        <div class="card grey lighten-4">
                            <div class="card-content teal-text" style="margin-top:70px">


                              <h6>Antall stjerner:
                                  {% if user.profile.avgrating == 0 %}
                                  Brukeren har ingen rating
                                  {% elif user.profile.avgrating == 1 %}
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  {% elif user.profile.avgrating == 2 %}
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  {% elif user.profile.avgrating == 3 %}
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  {% elif user.profile.avgrating == 4 %}
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  {% elif user.profile.avgrating == 5 %}
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                  <i class="material-icons" style="color:#ffeb3b;  font-size: 30px">stars</i>
                                {% endif %}</h6>
                              <h6>Antall gitt: {{user.profile.given}}</h6>
                              <h6>Antall fått: {{user.profile.gotten}}</h6>
                              <h6>Karma sum: {{user.profile.sumkarma}}</h6>
                              <br>
                              <h6 class="text-secondary">{{ user.email }}</h6>
                              <h6>Fødselsdato: {{user.profile.birth_date}}</h6>
                              <h6>Lokasjon: {{user.profile.community}}</h6>
                              <h6>Bio: {{user.profile.bio}}</h6>


                            </div>
                          </div>
                        </div>
                    </div>


          <p class="text-secondary">{{ user.gender }}</p>
<a href="/profile/edit" class="waves-effect waves-light btn-small">rediger profil</a>

        </div>
      </div>
      </div>
      </div>

      </div>
{% endblock content %}
