{% extends 'webside/base.html' %}

{% block content %}
<a class="btn btn-default" href="{% url 'requests' %}" style="margin-left:-100px;"><i class="large material-icons">navigate_before</i>
</a>
<div class="card" style="max-width: 800px; margin:auto">
    <div class="center-align">
      <div class="card grey lighten-4">
        <div class="card-content teal-text">
          <div class="post">
              <h2>{{ post.title }}</h2>
              <p>{{ post.text|linebreaksbr }}</p>
              <div class="black-text">
              <p>{{ post.community }}</p>
              </div>
              <p>{{ post.author }}</p>
              {% if post.published_date %}
                <div class="date black-text">
                  {{ post.published_date }}
                </div>
                {% endif %}
            </div>
            </div>
          </div>
          </div>
          </div>
          <div class="center-align">
            <a class="btn btn-default" style="margin:auto" href="{% url 'add_comment_to_post' pk=post.pk %}">Legg igjen en kommentar</a>
            <br><br>
            {% for comment in post.comments.all %}
            <div class="divider"></div>
            <div class="section">
            <div class="comment">
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
            <div class="date">{{ comment.created_date }}</div>
            </div>
            {% empty %}
            <p>Ingen kommentarer enda :(</p>
            {% endfor %}
            </div>
            </div>
{% endblock %}
