{% extends 'webside/base.html' %}
{% load static %}
{% block content %}
<h4 class="center" style="color:#336699; font-variant: small-caps;">Se objekter som ligger til utlån</h4>
<div id="mapid" style="margin-left:auto;margin-right:auto;text-align:center"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
<script type="text/javascript" src = "{% static 'js/map.js' %}"></script>
<script type="text/javascript">
  var options = {  //**spiderfier
    keepSpiderfied: true,
  };
  var oms = new OverlappingMarkerSpiderfier(mymap, options);

  var geocoder = L.Control.geocoder({
          defaultMarkGeocode: false
      })
      .on('markgeocode', function(e) {
          var bbox = e.geocode.bbox;

          mymap.fitBounds(e.geocode.bbox);
      })
      .addTo(mymap);

          {% for loan in loans %}
              lon = {{loan.community.longitude}}
              lat = {{loan.community.latitude}}

              cord = [lon, lat]
              var marker = L.marker(cord)
              marker.addTo(mymap);
              marker.bindPopup('<a href="{% url 'loans_detail' pk=loan.pk %}"><b>{{loan.title}}</b></a><br>{{loan.author}}');
              mymap.addLayer(marker);

              oms.addMarker(marker);
          {% endfor %}







</script>

{% endblock %}
