<style>
    .card h5{
        padding:10px 0px;
    }
    .card{
        transition: .5s;
        background: #eeee;
    }
    .card:hover i, h5{
        color: #c2185b;
    }
    .card:hover{
        transform: scale(1.03);
        background: #fff;
    }

</style>
